<div class="ui fixed inverted main menu">
	<a class="launch icon item" [routerLink]="['/home']">
		<i class="content icon"></i>
	</a>
	<div class="ui container">
		<div class="item" [routerLinkActive]="['link-active']">
			<a [routerLink]="['/home']">
				<span class='glyphicon glyphicon-home'></span> Home
			</a>
		</div>
		<div class="item" [routerLinkActive]="['link-active']">
			<a [routerLink]="['/counter']">
				<span class='glyphicon glyphicon-education'></span> Counter
			</a>
		</div>
		<div class="item" [routerLinkActive]="['link-active']">
			<a [routerLink]="['/fetch-data']">
				<span class='glyphicon glyphicon-th-list'></span> Fetch data
			</a>
		</div>
		<div class="item" [routerLinkActive]="['link-active']">
			<a [routerLink]="['/hero']">
				<span class='glyphicon glyphicon-th-list'></span> hero
			</a>
		</div>
	</div>
</div>